// nav-om -large sizes
.nav-om {
    flex-grow         : 1;
    padding-inline-end: 20px;
    display           : flex;
    align-items       : center;

    @include sm {
        padding-inline-end: 0;
    }

    .nav-list-om {
        display      : flex;
        margin-bottom: 0;


        @include sm {
            display: block;
            width: 100%;
            padding: 0;
        }

        >li {

           
           

            >a,
            >.link-om {
                font-size  : 15px;
                font-weight: 500;
                color      : $h_color_1;
                padding    : 13px 20px;
                display    : flex;
                align-items: center;

                @include sm {
                    padding: 12px 15px;
                    border-bottom: 1px solid #e8e8e8;

                    &:hover {
                        background-color: #e8e8e8;
                    }
                }


                &.discount-link-om {
                    color: #e61b42;

                    &:hover {

                        color: #e61b42;
                    }
                }

              

                &:hover {
                    // opacity: 0.7;
                }
            }

        }
    }
}
