.banner-block-om {
    display      : block;
    margin-bottom: 25px;

    .figure-om {
        // 0.5132
        padding-bottom: 51.32%;
    }
}

.banner-second-block-om {
    display      : block;
    margin-bottom: 25px;

    .figure-om {

        // 0.5829
        padding-bottom: 58.29%;
    }
}

.banner-third-block-om {
    display      : block;
    margin-bottom: 25px;

    .figure-om {

        //0.3738
        padding-bottom: 37.38%;
    }
}