.main-slider-om {
    margin-bottom: 29px;

    .figure-om {
        // padding-bottom: 18.626%;
        padding-bottom: 40%;

        &::before {
            position         : absolute;
            top              : 0;
            left             : -75%;
            z-index          : 2;
            display          : block;
            content          : '';
            width            : 50%;
            height           : 100%;
            background       : -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
            background       : linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
            -webkit-transform: skewX(-25deg);
            transform        : skewX(-25deg);
        }

        &:hover {
            &::before {
                -webkit-animation: shine .75s;
                animation        : shine .75s;
            }
        }
    }
}


.h-store-features-om {
    // padding-top: 25px;

    @include sm {
        padding: 20px 0 5px;

    }
}

.h-top-categories-om {
    margin-bottom: 20px;

    .section-wraper-om {
        padding: 20px 15px 15px;
    }
}

.first-banners-sec-om {
    .row-om {
        .col-om {
            width: calc(100% / 2);

            @include sm {
                width: 100%;
            }
        }
    }
}

.h-favorite-offers-om {
    margin-bottom: 20px;

    .section-wraper-om {
        padding-top   : 15px;
        padding-bottom: 15px;
    }
}

.second-banners-sec-om {

    .row-om {
        .col-om {
            width: calc(100% / 3);

            @include sm {
                width: 100%;
            }
        }
    }
}

.h-choose-for-you-om {
    margin-bottom: 20px;
}

.h-finest-brands-om {
    margin-bottom: 20px;

}

.h-mobile-section-om {
    margin-bottom: 20px;
}

.h-specials-offers-section {
    margin-bottom: 25px;

    .section-wraper-om {
        padding-bottom: 0;
    }

    .site-head-block-om {
        margin-bottom: 30px;
    }

    .row-om {
        margin: 0 -20px;

        @include sm {
            margin: 0;
        }

        .col-om {
            padding: 0 20px;
            width  : calc(100% / 3);

            @include sm {
                width  : 100%;
                padding: 0;
            }
        }
    }

}